[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
jupyter = "*"
requests = "*"
spotipy = "*"
matplotlib = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
